body {
  margin: 0rem 2rem 1rem 2rem;
}
h1, h2, h3 , h4, h5, h6 {
  font-family:  sans-serif;
}
h1 {
  padding: 15px;
}
h2 {
  padding: 10px;
  margin: 50px;
  position: center;
  margin-left: 0px;
}
h3 {
  padding: 10px;
  margin-bottom: 20px;
  position: center;
  margin-left: 60px;
}
h4 {
  padding: 10px;
  margin-top: 20px;
}
p {
  font-family:  sans-serif;
  text-align: left;
  margin-bottom: 50px;
}
body {
  background-color: #EDE8E8;
}

.txt-center {
  margin:0 auto !important;
}
/* ADDED BY SW */



.color-blue {
  background-color: #049dd9;
}

.color-green {
  background-color:green;
}
.color-red {
  background-color:red;
}

.txt-head {
  text-align: left;
  margin: 20px 0 10px 0 !important;
  padding:0 0 0 0 !important
}


/* END ADDED BY SW */

.container p {
 margin-top: 25px;
 font-size: large;
 text-align: center ;
}


.customNav {
  position: fixed;
  width: 100%;
  background-color:#EDE8E8 !important;
  background-size: cover;
  z-index: 10;
}

.navbar-nav {
  margin-left: 600px;
}

.btn {
  background-color: #F9B197;
  border-color: white;
}

.dailyText {
  align-content: left;
}

.navbar-brand img {
  padding-right: 15px;
  width: 100px;
}
.active{
  
  font-weight: bold;
}

.nav-item {
  margin: 0px 15px;
  
}
.button1 {
  background-color: #F9B197;
  border-color: white;
}

/* Navigation links */
.customNav a {
  color:rgb(40, 39, 39) !important;
}
.navCTA {
  font-size: 15px;
}

.heroImg {
  width:100%;
  margin-left: 15px;
}

.container{
  padding-top: 10%;
  max-width:100%;
  align-content: center;
  justify-items: center;
  color: rgb(31, 30, 30);
 
} 

.headerTxt {
  font-size: 30px;

}


a {
  color:white;
}
/* Cards */
.content {
  padding-top: 100px;
  padding-left: 0px;
  
}

.sectionHeading {
  text-align: center;
  
}

.skills  {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
  align-items: center;
  padding-left: 0%;

}
.card{
  height: 400px;
}
.cardContainer img{
  display: block;
  width:30%;
  margin: auto;
  
}

/* tips and discussion */
.heroImgTips{
  width:60%;
  

}

.facesImg {
  width: 100px;
  height:auto;
  border: 2px solid white;

}

.media {
  border: 5px solid white;
  padding: 10px 20px;
  margin: 4px 2px;
  border-radius: 80px;
}

.blue {
  background-color: #0084C7;
}

.pink {
  background-color: #F9B197;
}

.lightBlue {
  background-color: #049dd9;
}

.media-body {
  margin-top: 0;
  margin-right: 0px;
  text-align: right;
}

.btnIcon {
  align-content: center;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  width: 15px;
  margin: 0px 15px;
  color: white;
}



.nav-item:hover {
  text-decoration: underline;
}
/* Footer */
.footer {
  background-color: #0084C7 ;
  width: 100%;
  margin-top: 50px;
  color: white;
  
}

 .footer ul { 
  display: inline;
  list-style-type: none;
  float: left;
  background-color:#0084C7 ;
  
 } 
 